.list {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 4%;
}

.body {
  /* border: solid; */
}

.list div {}

.newForm {
  text-align: left;
  width: 100%;
}

.item {
  width: 100%;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: flex-start;
}

.title {
  display: flex;
}

.removeBtn {}

.removeBtn {}

/* SENTENCE STUFF */

.pointBoundary {
  color: lightGray;
  width: 10px;
}

.pointBoundary:hover {
  color: black;
}

.syntaxSentences{
  border: solid;
}

.syntaxSentenceSpacer {
  width: 3px;
  height: 10px;
  display: inline-block;
}

.syntaxAdd {
  display: none;
}

.syntaxSentenceSpacer:hover {
  width: 30px;
}

.syntaxSentenceSpacer:hover .syntaxAdd {
  display: inline-block;
}