.list {
  /* border: 1px solid red; */
  /* margin-left: 10px; */
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 4%;
  /* border: solid; */
  /* padding-left: 4%; */
  /* padding: 8%; */
}

.body {
  /* border: solid; */
}

.list div {
  /* display: flex; */
  /* padding: 5px; */
  /* width: 100%; */
  /* border: solid; */
}

.newForm {
  /* border: solid; */
  text-align: left;
  width: 100%;
}

.item {
  /* padding: 2%; */
  /* border: solid; */
  width: 100%;
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: flex-start;
  /* flex-wrap: wrap; */

  /* border: solid; */
}

.title {
  display: flex;
  /* border: solid; */
}

.removeBtn {
  /* border: solid; */
}

.removeBtn {
  /* border: solid; */
}


.syntaxSentences{
  border: solid;
}